service:
  name: termin-serverless
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

# Add the serverless-webpack plugin
plugins:
  - serverless-offline
  - serverless-plugin-chrome
  - serverless-webpack

package:
  exclude:
    - node_modules/puppeteer/.local-chromium/**

provider:
  name: aws
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  getTermins:
    handler: handler.getTermins
    memorySize: 1536MB
    timeout: 30
    events:
      - http:
          method: get
          path: /getTermins
